DummyExample/DummyExample.suo
DummyExample/DummyExample/bin/
DummyExample/DummyExample/obj/
ModemSendAndReceive/ModemSendAndReceive.suo
ModemSendAndReceive/ModemSendAndReceive/bin/
ModemSendAndReceive/ModemSendAndReceive/obj/
